# Contract file. Agents: propose changes to a Carbon and get approval before editing.
# Draft for Carbon review, 2026-09-26. Product intent: UNDERSTANDING.md. Identifier formats and flows: TECHNICAL.md.
# Brought up to date with the build after round 2 of fixes (2026-09-27): every route and field below is what the
# service answers today. The additions of that round await a Carbon's review like the rest of the file.
# 1.1.0 draft (2026-09-27), for the Carbon's approval: devices belong to the Carbons who paired them, several Carbons can
# pair one device, waking a device, setup retry, and the device engine named Silicon Extend. It follows UNDERSTANDING.md
# as the Carbon edited it on 2026-09-27 and the Carbon's decisions of that day (logout, requests routed to a Carbon,
# the terminal on shared computers, visible Ting setup guidance). API v1 stays additive: no path, method, required field or
# error code changed, and a 1.0 client ignores every new field.
# Wire names `org_id` and `X-Org-ID` are Silicon IAM's names for a Team handle and are kept as IAM defines them.

# Review copy reconciled with the 1.1 implementation on 2026-09-28; originals are unchanged.
# Includes shared banner controls, stored display media, TV element clicks and verified Ting type semantics.

openapi: 3.1.0
info:
  title: Silicon Extend API
  version: 1.1.0-draft
  description: |
    Silicon Extend lets a Silicon use a Carbon's personal devices. This API is used by the `extend` CLI
    (through the `silicon-extend-client` crate), the configuration website, and the Extend apps on devices.

    Conventions
    - Every JSON body is an envelope: `{"type": "<kind>", "data": {...}}`.
    - Errors: `{"type": "error", "data": {"code", "message", "hint", "docs_url", "request_id", "details"}}`.
      `code` is stable and machine-readable; `message` says what happened and why; `hint` says what to do next.
    - Timestamps are RFC 3339 UTC with milliseconds. Durations carry their unit in the field name.
    - Every response carries `X-Request-ID` and `Silicon-Extend-API-Version`.
    - Lists are paged with `limit` and `cursor`; the response gives `next_cursor`, null on the last page. A page that
      has a `next_cursor` is always full; only the last page can be short.
    - Retry a POST after an uncertain result with the same `Idempotency-Key` and the identical body. The same key with
      a different body is `409 conflict`.
    - API majors (TECHNICAL.md section 10). Every `/api/v{n}/` request is checked before anything else: a major this
      service doesn't serve is `400 api_version_unsupported`; a `Silicon-Extend-API-Version` pin naming another major
      than the path is `400 api_version_mismatch`; a sunset major is `410 api_version_sunset`, whose hint says how to
      update and whose `details` carry `{api_version, sunset_at, supported}`. Every response on a deprecated major
      carries `Deprecation: @<unix seconds>` (RFC 9745, when it was deprecated) and `Sunset: <HTTP-date>` (RFC 8594,
      the soonest it can be sunset: 7 consecutive days with zero requests after the later of its deprecation and its
      last request).
    - Test environments: send the test application's `app_secret` in `X-Testing-Application-Secret`. Omit it for
      production. The header is checked on every `/api/v{n}/` route, including the ones that sign nobody in
      (enrollments, `/api/v1/iam`, `/api/v1/contracts`, reports, telemetry). A header that is empty, blank, sent more
      than once, not printable, unknown or revoked, or that belongs to a disabled or permanently removed environment,
      is `401 testing_secret_invalid`. An environment Honeycomb is still preparing (or restoring), one being cleaned,
      and one IAM knows but Extend was never prepared for, is `503 testing_environment_not_ready`. Neither ever falls
      back to production. `GET /api/version`, `/live`, `/ready`, `/webhook/` and `/internal/…` take no secret.
    - Browsers: CORS mirrors the request's origin, methods and headers, and exposes `ETag`, `X-Request-ID`,
      `Silicon-Extend-API-Version`, `Content-Disposition`, `Content-Range`, `Deprecation` and `Sunset`.

    Devices, Carbons and Teams (1.1)
    - A device belongs to the Carbon who paired it, not to a Team. Several Carbons can pair one device (a family TV);
      each has their own pair of it, with its own `device_id`, name, access list, lifetime and activity log. Ending one
      pair never touches the others.
    - `X-Org-ID` is a Silicon's Team for everything it does: its access grants, sessions, files, requests and wake
      requests belong to that Team. A Carbon may leave it out on the routes for their own devices; when sent it must be
      a Team their login reaches, and it no longer filters devices, grants or history (a Carbon sees all of it, each
      item tagged with its Team). It stays the default Team for new grants.
    - Some things go through IAM, Briefcase or Ting on the Carbon's behalf in a Team: listing that Team's Silicons,
      granting to them, opening their files, getting Tings there. They need the Carbon's Extend login to reach that
      Team; otherwise the answer is `403 not_a_team_member`, "Sign in to Extend for <team> …".
    - One Silicon uses a physical device at a time, across every pair and Team. A Carbon sees only their own side (their
      own pair and its Silicons): another side's Silicon shows as "in use" (`in_use_by_other`), never named.
    - Extend acts on Team membership only when IAM answers definitely (TECHNICAL.md section 9).
    - Every command Extend writes for a Silicon (a message, hint or Ting) starts with `extend --team <team>`.
    - The wake hint: when a device is known not to be awake (or was not awake when last seen), `device_offline`,
      `unsupported_on_device` and a failed command's answer add "<name> isn't awake (<state> since <time>). Its Carbon can
      wake it: extend --team <team> device wake <id> --reason \"...\"". Awake never refuses anything by itself.
servers:
  - url: https://backend.extend.teamofsilicons.com
security:
  - bearerAuth: []
tags:
  - {name: System, description: 'Health, version negotiation and contract discovery'}
  - {name: Auth, description: Sign in with a short-lived token from Silicon IAM}
  - {name: Enrollment, description: An unpaired Extend app getting and rotating its pairing code}
  - {name: Pairing, description: 'A Carbon claiming a pairing code, and devices paired through a host computer'}
  - {name: Devices, description: 'Listing, inspecting and configuring paired devices'}
  - {name: Access, description: Which Silicons can use a device}
  - {name: Sessions, description: 'A Silicon using a device, one Silicon at a time'}
  - {name: Commands, description: 'Device engine commands and Extend additions, run inside a session'}
  - {name: Requests, description: 'A Silicon asking for a device in use, delivered through Ting to the Silicon using it or to the Carbon who gave that Silicon access'}
  - {name: Waking, description: 'A Silicon asking its Carbon to wake a device, and the Carbon answering (1.1)'}
  - {name: Ting, description: 'Recipient registration per Team, and missing app/context notification types observed on delivery (1.1)'}
  - {name: Activity, description: Every action taken on a device}
  - {name: Files, description: 'Screenshots, recordings, logs and replay scripts, stored in Briefcase'}
  - {name: Device app, description: 'Endpoints used only by a paired Extend app, with its device credential'}
  - {name: Testing, description: 'The selected test environment, and Honeycomb lifecycle instructions'}
  - {name: IAM webhooks, description: Signed Silicon IAM callbacks}
  - {name: Operations, description: Bug reports and telemetry}

paths:
  # ───────────────────────────── System ─────────────────────────────
  /live:
    get:
      tags: [System]
      operationId: live
      summary: The process is running
      security: []
      responses:
        '204': {description: Alive}
  /ready:
    get:
      tags: [System]
      operationId: ready
      summary: Database, migrations and IAM reachable
      security: []
      responses:
        '204': {description: Ready}
        '503': {description: A dependency is unavailable; the body names it}
  /api/version:
    get:
      tags: [System]
      operationId: negotiateVersion
      summary: Agree an API major version
      description: |
        Unversioned so an old client can always reach it. The client lists every major it supports; the
        service answers with the highest both support that is not sunset. The client then pins that version on every
        request with `Silicon-Extend-API-Version`. No common version is `400 api_version_unsupported` listing both sides.
        A client that speaks only majors Extend has retired gets `410 api_version_sunset`, saying when and why and what
        to update. When the agreed major is deprecated, the answer carries `Deprecation` and `Sunset` headers.
      security: []
      parameters:
        - name: Silicon-Extend-Supported-API-Versions
          in: header
          required: false
          description: Every major the client supports. A client too old to send it is taken to support 1.
          schema: {type: string, pattern: '^[1-9][0-9]*(, ?[1-9][0-9]*)*$'}
          example: '1, 2'
      responses:
        '200':
          description: Agreed version
          headers:
            Silicon-Extend-API-Version: {schema: {type: string}, description: The agreed major}
            Vary: {schema: {type: string, const: Silicon-Extend-Supported-API-Versions}}
            Deprecation: {$ref: '#/components/headers/Deprecation'}
            Sunset: {$ref: '#/components/headers/Sunset'}
          content:
            application/json:
              schema:
                type: object
                required: [type, data]
                properties:
                  type: {const: version}
                  data:
                    type: object
                    required: [api_version, supported, service_version]
                    properties:
                      api_version: {type: integer, example: 1}
                      supported: {type: array, items: {type: integer}, example: [1], description: Majors a client can agree on (served and not sunset)}
                      service_version: {type: string, example: 1.0.0}
                      deprecated: {type: array, items: {type: integer}, description: The supported majors that are deprecated}
        '400': {$ref: '#/components/responses/Error'}
        '410': {description: 'api_version_sunset: every major the client speaks is retired', $ref: '#/components/responses/Error'}
  /api/v1/contracts:
    get:
      tags: [System]
      operationId: contracts
      summary: Compatibility matrix and deprecation state
      description: |
        Built from live state, not a fixed list. Each major's lifecycle (`current` → `deprecated` → `sunset`) is kept in
        `extend_global.api_versions`, shared by every instance: configuration deprecates a major
        (`EXTEND_DEPRECATED_API_VERSIONS`, applied when an instance starts; the newest served major can't be
        deprecated), and a deprecated major is sunset automatically after 7 consecutive days with zero requests
        (requests are counted per major and UTC day; an instance re-checks every 5 minutes). Sunset is final. The client
        crate and CLI ranges come from `EXTEND_API_V{n}_CLIENT_CRATE` and `EXTEND_API_V{n}_CLI` (default
        `>={n}.0.0, <{n+1}.0.0`), and `device_app_min` from `EXTEND_DEVICE_APP_MIN_VERSION`. Retired majors stay listed
        after their routes are gone. A request to this route counts as a request today for the major it came in on.
        `extend version` reads this to say whether the CLI is current, deprecated or sunset.
      security: []
      parameters:
        - {$ref: '#/components/parameters/TestingSecret'}
      responses:
        '200':
          description: Every API major, its state, and the client, CLI and app versions that work with it
          headers:
            Deprecation: {$ref: '#/components/headers/Deprecation'}
            Sunset: {$ref: '#/components/headers/Sunset'}
          content:
            application/json:
              schema:
                type: object
                required: [type, data]
                properties:
                  type: {const: contracts}
                  data:
                    type: object
                    required: [service_version, current, supported, deprecated, sunset_rule, versions]
                    properties:
                      service_version: {type: string, example: 1.0.0}
                      current: {type: integer, example: 1, description: The newest major a client can agree on}
                      supported: {type: array, items: {type: integer}, example: [1], description: Majors served and not sunset}
                      deprecated: {type: array, items: {type: integer}, example: []}
                      sunset_rule: {type: string, example: 'Sunset after 7 consecutive days with zero requests'}
                      versions:
                        type: array
                        description: Every major with a lifecycle record, oldest first, including retired ones
                        items:
                          type: object
                          required: [api_version, state, deprecated_at, sunset_at, sunset_earliest_at, last_request_on, sunset_rule, compatible]
                          properties:
                            api_version: {type: integer}
                            state: {type: string, enum: [current, deprecated, sunset]}
                            deprecated_at: {type: [string, 'null'], format: date-time}
                            sunset_at: {type: [string, 'null'], format: date-time, description: When the sunset rule was met}
                            sunset_earliest_at:
                              type: [string, 'null']
                              format: date-time
                              description: 'Deprecated majors only: the soonest it can be sunset if no request arrives (the Sunset header)'
                            last_request_on: {type: [string, 'null'], format: date, description: The last UTC day with a request}
                            sunset_rule: {type: string, example: 'Sunset after 7 consecutive days with zero requests'}
                            compatible:
                              type: object
                              required: [client_crate, cli, device_app_min]
                              properties:
                                client_crate: {type: string, example: '>=1.0.0, <2.0.0'}
                                cli: {type: string, example: '>=1.0.0, <2.0.0'}
                                device_app_min: {type: string, example: 1.0.0}
              example:
                type: contracts
                data:
                  service_version: 1.0.0
                  current: 1
                  supported: [1]
                  deprecated: []
                  sunset_rule: Sunset after 7 consecutive days with zero requests
                  versions:
                    - api_version: 1
                      state: current
                      deprecated_at: null
                      sunset_at: null
                      sunset_earliest_at: null
                      last_request_on: '2026-09-27'
                      sunset_rule: Sunset after 7 consecutive days with zero requests
                      compatible: {client_crate: '>=1.0.0, <2.0.0', cli: '>=1.0.0, <2.0.0', device_app_min: 1.0.0}
        '401': {description: testing_secret_invalid, $ref: '#/components/responses/Error'}
        '410': {description: 'api_version_sunset: the path''s major is retired', $ref: '#/components/responses/Error'}
        '503': {description: testing_environment_not_ready, $ref: '#/components/responses/Error'}
  /api/v1/iam:
    get:
      tags: [System]
      operationId: iamInformation
      summary: Public IAM application details (what `extend iam --json` prints)
      security: []
      description: Available before login. Never returns a secret.
      parameters:
        - {$ref: '#/components/parameters/TestingSecret'}
      responses:
        '200':
          description: Public configuration
          content:
            application/json:
              schema:
                type: object
                required: [type, data]
                properties:
                  type: {const: iam}
                  data:
                    type: object
                    required: [app_id, iam_base_url, api_base_url, website_url, docs_url]
                    properties:
                      app_id: {type: string, example: extend}
                      iam_base_url: {type: string, format: uri, example: 'https://backend.iam.teamofsilicons.com'}
                      iam_login_url:
                        type: [string, 'null']
                        format: uri
                        example: 'https://auth.iam.teamofsilicons.com/login'
                        description: 'Send a Carbon here to sign in: {iam_login_url}?app_id=<app_id>&redirect_uri=<url>. IAM appends slt=<token> to redirect_uri.'
                      api_base_url: {type: string, format: uri, example: 'https://backend.extend.teamofsilicons.com'}
                      website_url: {type: string, format: uri, example: 'https://extend.teamofsilicons.com'}
                      docs_url: {type: string, format: uri}
                      repository_url: {type: string, format: uri}
                      testing_environment: {oneOf: [{$ref: '#/components/schemas/TestingEnvironment'}, {type: 'null'}]}
        '401': {description: testing_secret_invalid, $ref: '#/components/responses/Error'}
        '503': {description: testing_environment_not_ready, $ref: '#/components/responses/Error'}

  # ───────────────────────────── Auth ─────────────────────────────
  /api/v1/auth/login:
    post:
      tags: [Auth]
      operationId: login
      summary: Exchange a Silicon IAM short-lived token for an Extend session
      description: |
        The CLI and client never ask for a password. They take the short-lived token (SLT) a member generates
        with the IAM CLI or the IAM consent screen. In a test environment `slt` may instead be an existing test
        member id (`c:alice`, `si:chef`); that form is refused in production. Body at most 16 KiB. Responses are
        `Cache-Control: no-store`.
      security: []
      parameters:
        - {$ref: '#/components/parameters/IdempotencyKey'}
        - {$ref: '#/components/parameters/TestingSecret'}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [type, data]
              properties:
                type: {const: login}
                data:
                  type: object
                  additionalProperties: false
                  required: [slt]
                  properties:
                    slt: {type: string, writeOnly: true, minLength: 1, maxLength: 4096, description: Opaque. Never infer anything from its prefix.}
            example: {type: login, data: {slt: 'oac_…'}}
      responses:
        '200':
          description: Signed in
          content:
            application/json:
              schema:
                type: object
                required: [type, data]
                properties:
                  type: {const: login}
                  data: {$ref: '#/components/schemas/AuthSession'}
        '401': {$ref: '#/components/responses/Error'}
        '422': {$ref: '#/components/responses/Error'}
  /api/v1/auth/refresh:
    post:
      tags: [Auth]
      operationId: refresh
      summary: Rotate the refresh token
      description: One refresh at a time per token. Store the returned pair atomically; a reused refresh token revokes the family.
      security: []
      parameters:
        - {$ref: '#/components/parameters/IdempotencyKey'}
        - {$ref: '#/components/parameters/TestingSecret'}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [type, data]
              properties:
                type: {const: refresh}
                data:
                  type: object
                  additionalProperties: false
                  required: [refresh_token]
                  properties:
                    refresh_token: {type: string, writeOnly: true, pattern: '^ort_'}
      responses:
        '200':
          description: New token pair
          content:
            application/json:
              schema:
                type: object
                required: [type, data]
                properties:
                  type: {const: refresh}
                  data: {$ref: '#/components/schemas/AuthSession'}
        '401': {$ref: '#/components/responses/Error'}
  /api/v1/auth/logout:
    post:
      tags: [Auth]
      operationId: logout
      summary: Sign out
      description: |
        `token` is the login to revoke: the refresh token (revokes the whole family) or an access token. Signing out
        ends access at once (UNDERSTANDING.md, Access), so Extend first asks IAM whose login `token` is (introspection;
        a refresh token works on its own, with no Authorization header), falling back to the access token in
        `Authorization` when one is sent:
        - A Silicon signing out ends its own running sessions in this world (`silicon_logged_out`).
        - A Carbon signing out (the website or `extend logout`) ends the running sessions of the Silicons that Carbon
          gave access to: every session through that Carbon's pairs, in every Team, as `access_removed` (1.1, the
          Carbon's decision of 2026-09-27). Only that Carbon's side ends; a Silicon another Carbon gave access to keeps
          its session on the same device. Nothing else changes: the devices stay paired and the grants stay.
        If IAM can't be asked, nothing is revoked or ended and the error says so (with IAM's own code, usually
        `503 service_unavailable`); retry. An empty `token` is `422 invalid_input`.
      security:
        - {}
        - bearerAuth: []
      parameters:
        - {$ref: '#/components/parameters/IdempotencyKey'}
        - {$ref: '#/components/parameters/TestingSecret'}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [type, data]
              properties:
                type: {const: logout}
                data:
                  type: object
                  additionalProperties: false
                  required: [token]
                  properties:
                    token: {type: string, writeOnly: true, minLength: 1, description: 'The refresh token (ort_…) or an access token (oat_…)'}
      responses:
        '204': {description: Signed out}
        '401': {$ref: '#/components/responses/Error'}
        '422': {description: 'invalid_input: empty token', $ref: '#/components/responses/Error'}
        '503': {description: 'IAM could not be asked whose login it is; nothing was revoked', $ref: '#/components/responses/Error'}
  /api/v1/auth/me:
    get:
      tags: [Auth]
      operationId: me
      summary: Who is signed in (what `extend login status --json` prints)
      parameters:
        - {$ref: '#/components/parameters/TeamHeaderOptional'}
        - {$ref: '#/components/parameters/TestingSecret'}
      responses:
        '200':
          description: Live identity, checked with IAM
          content:
            application/json:
              schema:
                type: object
                required: [type, data]
                properties:
                  type: {const: me}
                  data:
                    type: object
                    required: [authenticated, member, teams]
                    properties:
                      authenticated: {type: boolean, const: true}
                      member: {$ref: '#/components/schemas/Member'}
                      teams: {type: array, items: {type: string}, example: [acme]}
                      team: {type: [string, 'null'], description: 'The team named by X-Org-ID, if sent'}
                      team_role: {type: [string, 'null'], description: Null when IAM does not disclose it}
                      testing_environment: {oneOf: [{$ref: '#/components/schemas/TestingEnvironment'}, {type: 'null'}]}
        '401': {$ref: '#/components/responses/Error'}

  # ───────────────────────────── Enrollment (unpaired app) ─────────────────────────────
  /api/v1/enrollments:
    post:
      tags: [Enrollment]
      operationId: createEnrollment
      summary: An unpaired Extend app asks for a pairing code
      description: |
        No login. At most 60 new enrollments per hour per client address (`429 rate_limited` with
        `details.retry_after_s`; behind a proxy listed in `EXTEND_TRUSTED_PROXY_CIDRS` the address is read from
        `X-Forwarded-For`). The app keeps `enrollment_secret` in memory or its secret store and shows `pairing_code`.
        The code rotates every 300 s; the app follows rotations on the enrollment WebSocket or by polling
        `GET /api/v1/enrollments/{enrollment_id}`.

        The enrollment is bound to the world the request selects: an app started with a test environment's
        `X-Testing-Application-Secret` gets a code that pairs it only into that environment, and one started without
        gets a production code (see `POST /api/v1/pairings`). A clean or permanent removal of the environment deletes
        its waiting enrollments.
      security: []
      parameters:
        - {$ref: '#/components/parameters/TestingSecret'}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [type, data]
              properties:
                type: {const: enrollment}
                data:
                  type: object
                  additionalProperties: false
                  required: [os, app_version]
                  properties:
                    os: {$ref: '#/components/schemas/DeviceOs'}
                    os_version: {type: string, maxLength: 64, example: '15'}
                    model: {type: string, maxLength: 128, example: Pixel 9}
                    app_version: {type: string, maxLength: 32, example: 1.1.0}
                    engine_version: {type: string, maxLength: 32, description: 'The device engine''s version on a computer (1.1). 1.0 apps send it as agent_device_version, which is still read.'}
                    agent_device_version: {type: string, maxLength: 32, deprecated: true, description: 'The 1.0 name of engine_version'}
      responses:
        '201':
          description: Enrollment with its first code
          content:
            application/json:
              schema:
                type: object
                required: [type, data]
                properties:
                  type: {const: enrollment}
                  data:
                    type: object
                    required: [enrollment_id, enrollment_secret, pairing_code, code_expires_at, rotates_every_s]
                    properties:
                      enrollment_id: {type: string, format: uuid}
                      enrollment_secret: {type: string, pattern: '^ees_[A-Za-z0-9_-]{43}$', description: Returned once}
                      pairing_code: {$ref: '#/components/schemas/PairingCode'}
                      code_expires_at: {type: string, format: date-time}
                      rotates_every_s: {type: integer, const: 300}
              example:
                type: enrollment
                data:
                  enrollment_id: 01926f3a-5c1e-7b2d-9a40-3e5f8c7d1b22
                  enrollment_secret: ees_Q2hhbmdlLW1lLXRoaXMtaXMtYS1zYW1wbGUtc2VjcmV
                  pairing_code: 4F9C2A
                  code_expires_at: '2026-09-26T10:05:00.000Z'
                  rotates_every_s: 300
        '401': {description: testing_secret_invalid, $ref: '#/components/responses/Error'}
        '422': {description: 'invalid_input, for example an OS that pairs through a host (ios, tvos, samsung_tv…)', $ref: '#/components/responses/Error'}
        '426': {$ref: '#/components/responses/Error'}
        '429': {$ref: '#/components/responses/Error'}
        '503': {description: testing_environment_not_ready, $ref: '#/components/responses/Error'}
  /api/v1/enrollments/{enrollment_id}:
    parameters:
      - {$ref: '#/components/parameters/EnrollmentId'}
      - {$ref: '#/components/parameters/TestingSecret'}
    get:
      tags: [Enrollment]
      operationId: getEnrollment
      summary: Current code, or the device credential once paired
      description: |
        `state: waiting` returns the live code. `state: paired` returns `device_id` and `device_credential`
        exactly once; the enrollment is then gone and later reads are 404. When `X-Testing-Application-Secret` is sent
        here (and on `DELETE` and `/connect`), it must select the world the enrollment was started in; another world is
        `401 testing_secret_invalid`. Sending none is always accepted.
      security:
        - enrollmentSecret: []
      responses:
        '200':
          description: Enrollment state
          content:
            application/json:
              schema:
                type: object
                required: [type, data]
                properties:
                  type: {const: enrollment}
                  data: {$ref: '#/components/schemas/EnrollmentState'}
        '401': {$ref: '#/components/responses/Error'}
        '404': {$ref: '#/components/responses/Error'}
    delete:
      tags: [Enrollment]
      operationId: discardEnrollment
      summary: The app stops waiting to be paired
      security:
        - enrollmentSecret: []
      responses:
        '204': {description: Discarded; its code no longer works}
        '401': {$ref: '#/components/responses/Error'}
  /api/v1/enrollments/{enrollment_id}/connect:
    parameters:
      - {$ref: '#/components/parameters/EnrollmentId'}
    get:
      tags: [Enrollment]
      operationId: enrollmentSocket
      summary: WebSocket that pushes code rotations and the pairing result
      description: |
        Upgrade to WebSocket. Frames are JSON `{"type", "data"}`:
        `code` `{pairing_code, code_expires_at}` every 300 s; `paired` `{device_id, device_credential, environment}`
        once, then the server closes with 1000. Heartbeat as on the device socket.
      security:
        - enrollmentSecret: []
      responses:
        '101': {description: Switching protocols}
        '401': {$ref: '#/components/responses/Error'}

  # ───────────────────────────── Pairing (Carbon) ─────────────────────────────
  /api/v1/pairings:
    post:
      tags: [Pairing]
      operationId: claimPairingCode
      summary: A Carbon enters a device's pairing code
      description: |
        Carbons only. Creates the Carbon's pair of the device in the selected world (production, or the test
        environment named by X-Testing-Application-Secret), owned by the caller. The code works once. A wrong code never
        reveals whether it existed. Rate-limited to 5 failures per Carbon per 10 minutes.

        1.1: X-Org-ID is optional. The device belongs to the Carbon, not to a Team; the pair only records the Team that
        was selected (X-Org-ID, else the first of the Carbon's Teams) as `DeviceSelf.team`, which authorizes nothing.
        `silicon_ids` keeps 1.0's meaning (grants in X-Org-ID), so it needs X-Org-ID: `422 invalid_input` without it. The
        1.1 website grants after the claim instead, per Team. `visibility` is accepted and ignored: every device is
        personal. The Carbon is registered with Ting in that Team when Extend hasn't registered them there yet.

        A code from "Pair with another Carbon" (`POST /api/v1/device/enrollments`) adds the caller's pair to a device
        other Carbons already paired: it has its own `device_id`, name, access list and lifetime, and it is ready at once
        (its capabilities and setup come from the other pairs). Every other pair's activity log gets
        `another_carbon_paired` (naming no one), and the answer has `paired_by_others: true`. A Carbon who already has a
        pair of that device gets `409 conflict`: "You already paired this device: it's <your name for it> (<id>) in
        your devices." (the code stays valid for someone else). If every other pair ended meanwhile, it pairs as a new
        device.

        A code pairs only into the world its enrollment was started in. A signed-in Carbon of a team who enters a live
        code from another world gets `404 pairing_code_invalid` naming the direction (a test code into production, a
        production code into a test environment, or another test environment's code) with a hint; those answers are
        limited to 20 per Carbon per 15 minutes. Anyone else (not signed in, a refused token, a Silicon, no team) gets
        the same answer a code that doesn't exist gets. The database backs the rule with a constraint.

        In a test environment with 5 devices already paired, answers 409 `test_device_limit` with the message
        `In test environment you are limited to 5 paired devices per environment.` The limit counts physical devices:
        another Carbon's pair of a device already there never counts. The count and the insert happen
        under one lock per environment, so concurrent claims never exceed 5. Adds to one test environment take turns;
        one that waits more than 10 s for its turn in the service (or 5 s on the database lock) is refused with
        `429 rate_limited` ("This test environment is busy adding other devices…", `details.retry_after_s: 2`). A
        claim whose device was committed always answers 201.
      parameters:
        - {$ref: '#/components/parameters/TeamHeaderOptional'}
        - {$ref: '#/components/parameters/TestingSecret'}
        - {$ref: '#/components/parameters/IdempotencyKey'}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [type, data]
              properties:
                type: {const: pairing}
                data:
                  type: object
                  additionalProperties: false
                  required: [pairing_code, name]
                  properties:
                    pairing_code: {$ref: '#/components/schemas/PairingCodeInput'}
                    name: {$ref: '#/components/schemas/DeviceName'}
                    visibility: {$ref: '#/components/schemas/Visibility'}
                    pair_ttl_days: {$ref: '#/components/schemas/PairTtlDays'}
                    silicon_ids:
                      type: array
                      maxItems: 100
                      uniqueItems: true
                      items: {$ref: '#/components/schemas/SiliconId'}
                      description: Optional; give access now. Can be skipped and done later.
            example: {type: pairing, data: {pairing_code: 4f9c2a, name: Saket's Pixel, silicon_ids: ['si:chef']}}
      responses:
        '201':
          description: Paired. The device is in `setup` until its own setup steps finish.
          headers:
            ETag: {schema: {type: string}}
          content:
            application/json:
              schema:
                type: object
                required: [type, data]
                properties:
                  type: {const: device}
                  data: {$ref: '#/components/schemas/Device'}
        '400': {$ref: '#/components/responses/Error'}
        '401': {$ref: '#/components/responses/Error'}
        '403': {$ref: '#/components/responses/Error'}
        '404': {description: 'pairing_code_invalid: wrong, expired or used, or made in another world (named for a signed-in Carbon)', $ref: '#/components/responses/Error'}
        '409': {description: 'test_device_limit; conflict (1.1: you already paired this device, named by your own id for it)', $ref: '#/components/responses/Error'}
        '422': {description: 'invalid_input, for example silicon_ids without X-Org-ID', $ref: '#/components/responses/Error'}
        '429': {description: 'rate_limited: too many wrong codes, or the test environment is busy adding other devices', $ref: '#/components/responses/Error'}
  /api/v1/devices/{device_id}/attachments:
    parameters:
      - {$ref: '#/components/parameters/DeviceId'}
    post:
      tags: [Pairing]
      operationId: attachDevice
      summary: Pair an iPhone, iPad, Apple TV or smart TV through a paired computer
      description: |
        `device_id` is the host: a paired Mac (for iPhone, iPad and Apple TV) or any paired computer (for Samsung and
        LG TVs), owned by the caller and online. Creates the new device in `setup` with `host_device_id` set; the
        host receives an `attach` frame, walks the setup and reports the device with `attached`. Counts toward the test
        environment limit, under the same per-environment turn as `POST /api/v1/pairings` (so `429 rate_limited` when
        the environment is busy adding other devices). Refused with `422 invalid_input` and a hint: an OS that runs the
        Extend app itself, the wrong host OS for it, and a host that is itself paired through a computer; an offline
        host is `503 device_offline`; a removed or unknown host is `404 device_not_found`.

        1.1: the host is the caller's own pair of the computer; X-Org-ID is not needed, and `visibility` is ignored. The
        new device is the caller's own pair of it. When the host reports it (`attached` with `hardware_key`), Extend
        recognises the same physical device another Carbon added through another pair of the same computer and links
        the two pairs, so one Silicon at a time holds across them. The same device added twice by one Carbon, or
        carried by another computer, reads not ready with a failing setup step (`duplicate_device`) that says what to do
        and names no other Carbon or computer. In a test environment at its device limit, a device that another
        Carbon's pair of the same computer already carries is accepted provisionally (setup step `recognising`,
        "Waiting for <host> to recognise this device") and counts nothing once linked; if it isn't linked within
        `EXTEND_TEST_LINK_WINDOW_S` (120 s) it is removed with the test device limit message.
      parameters:
        - {$ref: '#/components/parameters/TeamHeaderOptional'}
        - {$ref: '#/components/parameters/TestingSecret'}
        - {$ref: '#/components/parameters/IdempotencyKey'}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [type, data]
              properties:
                type: {const: attachment}
                data:
                  type: object
                  additionalProperties: false
                  required: [os, name]
                  properties:
                    os: {type: string, enum: [ios, ipados, tvos, samsung_tv, lg_tv]}
                    name: {$ref: '#/components/schemas/DeviceName'}
                    visibility: {$ref: '#/components/schemas/Visibility'}
                    pair_ttl_days: {$ref: '#/components/schemas/PairTtlDays'}
      responses:
        '201':
          description: Attached device, in setup
          content:
            application/json:
              schema:
                type: object
                required: [type, data]
                properties:
                  type: {const: device}
                  data: {$ref: '#/components/schemas/Device'}
        '403': {$ref: '#/components/responses/Error'}
        '404': {$ref: '#/components/responses/Error'}
        '409': {description: test_device_limit, $ref: '#/components/responses/Error'}
        '422': {$ref: '#/components/responses/Error'}
        '429': {description: 'rate_limited: the test environment is busy adding other devices', $ref: '#/components/responses/Error'}
        '503': {description: device_offline (the host), $ref: '#/components/responses/Error'}
  /api/v1/devices/{device_id}/setup:
    parameters:
      - {$ref: '#/components/parameters/DeviceId'}
    get:
      tags: [Pairing]
      operationId: getSetup
      summary: The device's setup steps and where each one stands
      description: |
        Owner only (the Carbon who paired this pair; X-Org-ID is optional). Also answers for a removed device the caller
        paired (read-only). A failed step's `error` is one or two sentences for the Carbon, saying what is wrong and what
        to do; `POST .../setup/retry` runs it again.
      parameters:
        - {$ref: '#/components/parameters/TeamHeaderOptional'}
        - {$ref: '#/components/parameters/TestingSecret'}
      responses:
        '200':
          description: Setup state
          content:
            application/json:
              schema:
                type: object
                required: [type, data]
                properties:
                  type: {const: setup}
                  data: {$ref: '#/components/schemas/Setup'}
        '403': {$ref: '#/components/responses/Error'}
        '404': {$ref: '#/components/responses/Error'}
  /api/v1/devices/{device_id}/setup/code:
    parameters:
      - {$ref: '#/components/parameters/DeviceId'}
    post:
      tags: [Pairing]
      operationId: enterSetupCode
      summary: Enter the code an Apple TV shows during setup
      description: |
        Owner only. The code is relayed to the Mac that carries the Apple TV. Checked in this order, each refusal with a
        hint: the caller owns the device (a removed one is `404 device_not_found`); it is paired through a computer (a
        device that runs the Extend app takes no code: `422 invalid_input`); it is an Apple TV (another carried device
        takes no code: `422`); the code is 4 digits after trimming (`422`, echoing what was sent); the host is online
        (`503 device_offline`, "The computer … pairs through is offline, so the code could not reach it.").
      parameters:
        - {$ref: '#/components/parameters/TeamHeaderOptional'}
        - {$ref: '#/components/parameters/TestingSecret'}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [type, data]
              properties:
                type: {const: setup_code}
                data:
                  type: object
                  additionalProperties: false
                  required: [code]
                  properties:
                    code: {type: string, pattern: '^[0-9]{4}$', example: '4821'}
      responses:
        '200':
          description: Accepted; setup continues
          content:
            application/json:
              schema:
                type: object
                required: [type, data]
                properties:
                  type: {const: setup}
                  data: {$ref: '#/components/schemas/Setup'}
        '403': {$ref: '#/components/responses/Error'}
        '404': {$ref: '#/components/responses/Error'}
        '422': {$ref: '#/components/responses/Error'}
        '503': {description: device_offline (the host), $ref: '#/components/responses/Error'}
  /api/v1/devices/{device_id}/setup/retry:
    parameters:
      - {$ref: '#/components/parameters/DeviceId'}
    post:
      tags: [Pairing]
      operationId: retrySetup
      summary: Run a failed setup step again (`extend device setup <id> --retry`, the website's Retry) (1.1)
      description: |
        Carbons only: a Carbon who paired the device (the owner of this pair); a Silicon gets `403 carbon_only`, another
        Carbon `404 device_not_found`. Body `{"step": "<key>"}` retries that step; `{}` or no body retries every failed
        step. The service sends the device `setup_retry` (for a device a computer carries, to that computer with
        `target`) and answers 202 with the keys it asked for. It changes no step itself: the device reports progress as
        usual, and `GET .../setup` (or `extend device setup --watch`) follows it.

        Refusals, each with a hint:
        - `400 invalid_input`: the device has no step with that key; the message lists its steps.
        - `409 conflict`: "Nothing to retry: no setup step has failed." (or the named step hasn't failed).
        - `409 device_offline`: "<name> is offline. Setup carries on when it reconnects." For a carried device, when
          the computer it pairs through is offline.
        - `426 upgrade_required`: "<name> runs Silicon Extend <version>, which can't retry from here. Update it to 1.1,
          or tap Retry on the device." The app (or, for a carried device, its computer's app) didn't list
          `setup_retry` in its hello `features`.
        - `429 rate_limited`: at most one retry per device every 5 s; `details.retry_after_s` says when.
      parameters:
        - {$ref: '#/components/parameters/TeamHeaderOptional'}
        - {$ref: '#/components/parameters/TestingSecret'}
      requestBody:
        required: false
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/SetupRetryInput'
                - type: object
                  required: [type, data]
                  properties:
                    type: {const: setup_retry}
                    data: {$ref: '#/components/schemas/SetupRetryInput'}
            examples:
              oneStep: {value: {step: wireless_debugging}}
              everyFailedStep: {value: {}}
      responses:
        '202':
          description: The device was asked to run these steps again
          content:
            application/json:
              schema:
                type: object
                required: [type, data]
                properties:
                  type: {const: setup_retry}
                  data: {$ref: '#/components/schemas/RetryResult'}
              example: {type: setup_retry, data: {retrying: [wireless_debugging]}}
        '400': {description: invalid_input (no step with that key), $ref: '#/components/responses/Error'}
        '403': {description: carbon_only, $ref: '#/components/responses/Error'}
        '404': {description: device_not_found, $ref: '#/components/responses/Error'}
        '409': {description: 'conflict (nothing to retry); device_offline (the device, or the computer it pairs through)', $ref: '#/components/responses/Error'}
        '426': {description: 'upgrade_required: the connected app can''t retry setup', $ref: '#/components/responses/Error'}
        '429': {description: rate_limited, $ref: '#/components/responses/Error'}

  # ───────────────────────────── Devices ─────────────────────────────
  /api/v1/devices:
    get:
      tags: [Devices]
      operationId: listDevices
      summary: List devices
      description: |
        `scope` defaults to `mine` for a Carbon and `accessible` for a Silicon (`extend device ls`).
        - `mine` (1.1): every device the Carbon paired (each of their pairs), whichever Team X-Org-ID names or none.
        - `accessible`: the devices the Silicon has a grant on in its X-Org-ID Team (required). A device several
          Carbons paired, with a grant through two of them, lists once per pair, each naming the other in
          `same_device`. Lists skip the at-use membership check, so a grant whose Carbon just left the Team may list
          until its next use or the membership sweep.
        - `team`: deprecated in 1.1. Devices are visible only to the Carbons who paired them, so it is always an empty
          page (200); it stays for the 1.0 website's "Team devices" tab.

        Pages are in device-id order and `next_cursor` is opaque. `online` is applied before paging (the service reads
        on until the page is full), so a page with a `next_cursor` always holds exactly `limit` devices. Within a page,
        online devices come first, then paired before removed, then by name.

        `include_removed=true` (only with `scope=mine`) also lists the Carbon's removed devices in this world,
        each with `removed_at` and `removed_reason`, so their activity logs stay reachable. Any other scope with
        `include_removed=true`, or a value other than `true` or `false`, is `422 invalid_input` with a hint. An `os`
        Extend doesn't know is `422` naming the ones it does.
      parameters:
        - {$ref: '#/components/parameters/TeamHeaderSilicon'}
        - {$ref: '#/components/parameters/TestingSecret'}
        - name: scope
          in: query
          schema:
            type: string
            enum: [mine, accessible, team]
            description: '`team` is deprecated (1.1): always an empty page'
        - name: online
          in: query
          schema: {type: boolean}
        - name: os
          in: query
          schema: {$ref: '#/components/schemas/DeviceOs'}
        - name: include_removed
          in: query
          description: With scope=mine, also list the caller's removed devices
          schema: {type: boolean, default: false}
        - {$ref: '#/components/parameters/Limit'}
        - {$ref: '#/components/parameters/Cursor'}
      responses:
        '200':
          description: Devices; empty is still 200
          content:
            application/json:
              schema:
                type: object
                required: [type, data]
                properties:
                  type: {const: devices}
                  data:
                    type: object
                    required: [items, next_cursor]
                    properties:
                      items: {type: array, items: {$ref: '#/components/schemas/Device'}}
                      next_cursor: {type: [string, 'null']}
              example:
                type: devices
                data:
                  items:
                    - device_id: 7c1e09ab
                      name: Saket's Pixel
                      os: android
                      os_version: '15'
                      kind: phone
                      owner: {type: carbon, id: 'c:saket'}
                      visibility: personal
                      online: true
                      awake: true
                      awake_changed_at: '2026-09-26T09:57:40.120Z'
                      wake_detectable: true
                      last_seen_at: '2026-09-26T10:04:12.391Z'
                      in_use: {silicon_id: 'si:chef', session_id: a3f, since: '2026-09-26T09:58:00.000Z', team: acme}
                      last_used_at: '2026-09-26T10:04:10.002Z'
                      pair_ttl_days: 14
                      pair_expires_at: '2026-10-10T10:04:10.002Z'
                      days_left: 14
                      paired_by_others: false
                      wake_muted: false
                      open_wake_requests: 0
                      state: ready
                    - device_id: 0d44e1f2
                      name: Living room TV
                      os: android_tv
                      kind: tv
                      owner: {type: carbon, id: 'c:saket'}
                      visibility: personal
                      online: true
                      awake: false
                      sleep_state: standby
                      awake_changed_at: '2026-09-26T08:10:02.000Z'
                      wake_detectable: true
                      in_use_by_other: true
                      paired_by_others: true
                      open_wake_requests: 1
                      state: ready
                  next_cursor: null
        '401': {$ref: '#/components/responses/Error'}
        '403': {$ref: '#/components/responses/Error'}
        '422': {$ref: '#/components/responses/Error'}
  /api/v1/devices/{device_id}:
    parameters:
      - {$ref: '#/components/parameters/DeviceId'}
    get:
      tags: [Devices]
      operationId: getDevice
      summary: One device, with what a Silicon can do on it (`extend device show`)
      description: |
        The Carbon who paired it (this pair's owner, in any Team), or a Silicon with a grant on it in its X-Org-ID Team.
        Anyone else gets `404 device_not_found`. A Silicon without a grant in X-Org-ID gets "No device 7c1e09ab is visible
        to you in team acme.", hinting "If a Carbon gave you access in another of your Teams, pass --team <that team>."
        Each viewer sees their own side (1.1): the owner sees `in_use` (with its Team) only when the session runs through
        their own pair, and otherwise `in_use_by_other` (or `in_use_by_other_carried` on a computer whose busy carried
        device they didn't pair); a Silicon sees `in_use` only for a Silicon on its own side, and `in_use_by_other`
        otherwise. Single reads also carry the viewer's open `wake_requests`.

        On a computer several Carbons paired, only the first pair (the Carbon who installed Silicon Extend on it) has
        `terminal`; every other pair lists it in `missing` with "Several Carbons paired this computer. Only Silicons
        given access by the Carbon who installed Silicon Extend on it can use its terminal. The screen, keyboard and apps
        work as usual." (the Carbon's decision of 2026-09-27).

        A removed device stays readable, read-only, for the Carbon who paired it: `removed_at` and
        `removed_reason` are set, `online` is false, `in_use`, `pair_expires_at` and `days_left` are left out,
        `capabilities` and `commands` are empty, and `missing[0]` is `{capability: screen.read, reason: "The device was
        removed, so nothing works on it any more. Pair it again to use it."}`. The same Carbon can also read its
        `/activity`, `/requests`, `/access` (now empty) and `/setup`. For anyone else a removed device is
        `404 device_not_found` with the plain not-found message.

        Every change to a removed device (`PATCH`, `DELETE` again, `/stop`, `/attachments`, `/setup/code`,
        `PUT`/`DELETE /access/{silicon_id}`, a Silicon's `POST /api/v1/sessions` or `/requests`) is
        `404 device_not_found`. For the Carbon who paired it the message is "Device <id> (<name>) was removed at
        <time>: <why>. A removed device can't be changed or used.", the hint points to
        `extend device activity <id>` and says to pair it again, and `details` are `{removed_at, removed_reason}`.
      parameters:
        - {$ref: '#/components/parameters/TeamHeaderSilicon'}
        - {$ref: '#/components/parameters/TestingSecret'}
      responses:
        '200':
          description: Device with capabilities and the Extend commands they unlock
          headers:
            ETag: {schema: {type: string}}
          content:
            application/json:
              schema:
                type: object
                required: [type, data]
                properties:
                  type: {const: device}
                  data:
                    allOf:
                      - {$ref: '#/components/schemas/Device'}
                      - type: object
                        required: [capabilities, commands]
                        properties:
                          capabilities: {type: array, items: {$ref: '#/components/schemas/Capability'}}
                          missing:
                            type: array
                            description: Capabilities this kind of device supports but this one lacks right now, with why
                            items:
                              type: object
                              required: [capability, reason]
                              properties:
                                capability: {$ref: '#/components/schemas/Capability'}
                                reason: {type: string, example: Screen Recording permission is off on this Mac}
                          commands: {type: array, items: {type: string}, example: [snapshot, screenshot, click, fill, type, open, close, terminal]}
        '403': {$ref: '#/components/responses/Error'}
        '404': {$ref: '#/components/responses/Error'}
    patch:
      tags: [Devices]
      operationId: updateDevice
      summary: Rename, change the pairing lifetime, or show/hide the shared in-use banner
      description: |
        Owner only: the name and lifetime are this Carbon's pair's own, so another Carbon who paired the same device
        keeps theirs. Send only the fields that change. `visibility` is accepted and ignored (1.1): every device is
        personal, and the answer says so. `in_use_indicator` is `shown` or `hidden` (1.1), and unlike the name and
        lifetime belongs to the physical device: every Carbon's pair shares the choice. Only a Carbon who owns a live
        pair may change it; a Silicon gets `403 carbon_only`. The current owner does not need every other owner's
        approval. Changed values refresh the live pair connections, or update every carried alias through its host.
        A 1.0 app may ignore the setting; its service-side value is still saved.
      parameters:
        - {$ref: '#/components/parameters/TeamHeaderOptional'}
        - {$ref: '#/components/parameters/TestingSecret'}
        - {$ref: '#/components/parameters/IfMatch'}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [type, data]
              properties:
                type: {const: device}
                data:
                  type: object
                  additionalProperties: false
                  minProperties: 1
                  properties:
                    name: {$ref: '#/components/schemas/DeviceName'}
                    visibility: {$ref: '#/components/schemas/Visibility'}
                    pair_ttl_days: {$ref: '#/components/schemas/PairTtlDays'}
                    in_use_indicator: {$ref: '#/components/schemas/InUseIndicator'}
      responses:
        '200':
          description: Updated
          headers:
            ETag: {schema: {type: string}}
          content:
            application/json:
              schema:
                type: object
                required: [type, data]
                properties:
                  type: {const: device}
                  data: {$ref: '#/components/schemas/Device'}
        '403': {$ref: '#/components/responses/Error'}
        '412': {$ref: '#/components/responses/Error'}
        '422': {$ref: '#/components/responses/Error'}
    delete:
      tags: [Devices]
      operationId: removeDevice
      summary: Remove the device (dangerous)
      description: |
        Owner only. Ends this Carbon's pair of the device: any session running through it (`device_removed`; a
        command in flight answers `409 session_ended` at once), every grant on it and its open wake requests; unpairs it
        (`unpaired` goes to that pair's connection only), and keeps it readable to its owner as a removed device (see
        `GET /api/v1/devices/{device_id}`), with its activity log. Other Carbons' pairs of the same device, and sessions
        through them, are untouched (1.1). Clients must confirm with the Carbon first; the CLI needs `--yes`. For a host
        computer, also removes every device paired through this pair. Removing a removed device again is
        `404 device_not_found`, not 204.
      parameters:
        - {$ref: '#/components/parameters/TeamHeaderOptional'}
        - {$ref: '#/components/parameters/TestingSecret'}
        - {$ref: '#/components/parameters/IfMatch'}
      responses:
        '204': {description: Removed}
        '403': {$ref: '#/components/responses/Error'}
        '404': {$ref: '#/components/responses/Error'}
        '412': {$ref: '#/components/responses/Error'}
  /api/v1/devices/{device_id}/stop:
    parameters:
      - {$ref: '#/components/parameters/DeviceId'}
    post:
      tags: [Devices]
      operationId: stopDevice
      summary: Stop the Silicon using the device now
      description: |
        Owner only. Ends the running session with `stopped_by_carbon`; a command in flight answers `409 session_ended`
        at once and the device gets `cancel` for it. No running session is 409 `device_not_in_use`.

        1.1: every Carbon who paired a device may stop the Silicon using it (UNDERSTANDING.md, Always visible), so the
        stop ends the session on the physical device whichever Carbon's pair it runs through. For a computer it also ends
        the sessions on carried devices the caller paired too. It never ends a session on a carried device the caller
        didn't pair: when that is all that is busy, it answers `409 conflict`, "A device carried by Studio Mac is in use.
        It can be stopped by the Carbon who paired it, or from Studio Mac's Extend app." (the computer's own Stop still
        stops it). The answer is the stopped `session` when it ran through the caller's own pair (as in 1.0), and
        otherwise `device_stopped` (the Silicon isn't named). On the stopped session's pair, the activity log says
        `session_ended` by `extend`, `{"stopped_by": "another_carbon"}`, naming no one. A 1.0 client reads
        `device_stopped` as an error after the stop succeeded; it can reach it only by a race, since it never sees
        another side's session as in use.
      parameters:
        - {$ref: '#/components/parameters/TeamHeaderOptional'}
        - {$ref: '#/components/parameters/TestingSecret'}
      responses:
        '200':
          description: The session that was ended (`session`), or `device_stopped` when it ran through another Carbon's pair
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    required: [type, data]
                    properties:
                      type: {const: session}
                      data: {$ref: '#/components/schemas/Session'}
                  - type: object
                    required: [type, data]
                    properties:
                      type: {const: device_stopped}
                      data: {$ref: '#/components/schemas/DeviceStopped'}
        '403': {$ref: '#/components/responses/Error'}
        '404': {$ref: '#/components/responses/Error'}
        '409': {description: 'device_not_in_use; conflict (only a carried device someone else paired is busy)', $ref: '#/components/responses/Error'}

  # ───────────────────────────── Access ─────────────────────────────
  /api/v1/devices/{device_id}/access:
    parameters:
      - {$ref: '#/components/parameters/DeviceId'}
    get:
      tags: [Access]
      operationId: listAccess
      summary: Silicons that can use the device
      description: |
        Owner only. Every grant on this pair, in every Team, each with its `team` and `wake_muted` (1.1). A removed device
        the caller paired answers with no grants. Grants in a Team the Carbon's login no longer reaches are listed too;
        clients mark them "Sign in to Extend for <team> to see names, add Silicons, open files and get Tings there".
      parameters:
        - {$ref: '#/components/parameters/TeamHeaderOptional'}
        - {$ref: '#/components/parameters/TestingSecret'}
      responses:
        '200':
          description: Access grants
          content:
            application/json:
              schema:
                type: object
                required: [type, data]
                properties:
                  type: {const: access}
                  data:
                    type: object
                    required: [items]
                    properties:
                      items: {type: array, items: {$ref: '#/components/schemas/AccessGrant'}}
        '403': {$ref: '#/components/responses/Error'}
  /api/v1/devices/{device_id}/access/{silicon_id}:
    parameters:
      - {$ref: '#/components/parameters/DeviceId'}
      - {$ref: '#/components/parameters/SiliconIdPath'}
    put:
      tags: [Access]
      operationId: grantAccess
      summary: Give a Silicon access
      description: |
        Owner only. The grant is for the Silicon's Team T: `?team=` if given, else X-Org-ID; neither is `422
        invalid_input`, "Say which Team the Silicon is in: --team <handle>". T can be any Team the Carbon is an active
        member of (1.1), but their Extend login must reach it: otherwise `403 not_a_team_member`, "c:alice's Extend login
        doesn't reach labs.", hinting "Sign in to Extend again and select labs (approve Extend for labs in Silicon IAM),
        then retry." The Silicon must be an active member of T (`422` otherwise). Repeating is a no-op that returns the
        existing grant. A Silicon may hold one grant per Team on a device; it uses the device as a member of the Team it
        acts in. The first grant in a Team registers the Carbon with Ting there (unless Extend already did), and
        clients then read `GET /api/v1/ting-registration?team=T` to warn about missing Ting types.
      parameters:
        - {$ref: '#/components/parameters/TeamHeaderOptional'}
        - {$ref: '#/components/parameters/TeamQuery'}
        - {$ref: '#/components/parameters/TestingSecret'}
      responses:
        '200':
          description: Granted
          content:
            application/json:
              schema:
                type: object
                required: [type, data]
                properties:
                  type: {const: access_grant}
                  data: {$ref: '#/components/schemas/AccessGrant'}
        '403': {$ref: '#/components/responses/Error'}
        '404': {$ref: '#/components/responses/Error'}
        '422': {$ref: '#/components/responses/Error'}
    delete:
      tags: [Access]
      operationId: revokeAccess
      summary: Take a Silicon's access away
      description: |
        Owner only. With `?team=`, the grant in that Team; without it, the grant in every Team (the 1.0 meaning). It works
        on ownership alone, even for a Team the Carbon's login no longer reaches. If that Silicon is using the device
        through this pair in an affected Team, its session ends at once (`access_removed`): a command in flight answers
        `409 session_ended` and the device gets `cancel` for it (the device stays paired). Its open wake requests there
        are withdrawn.
      parameters:
        - {$ref: '#/components/parameters/TeamHeaderOptional'}
        - {$ref: '#/components/parameters/TestingSecret'}
        - {$ref: '#/components/parameters/TeamQuery'}
      responses:
        '204': {description: 'Revoked, or there was no grant'}
        '403': {$ref: '#/components/responses/Error'}
        '404': {$ref: '#/components/responses/Error'}

  /api/v1/team/silicons:
    get:
      tags: [Access]
      operationId: teamSilicons
      summary: Silicons in the team, for choosing who gets access
      description: |
        Any signed-in member of the team named by X-Org-ID. Read live from Silicon IAM.

        `?team=any` (1.1, Carbons): the Silicons of every Team the Carbon's login reaches, each with its `team`, and in
        `teams` how each Team's read went: a Team whose directory couldn't be read is `{team, ok: false, error}`, and
        the others still answer. X-Org-ID is not needed. Teams where the Carbon hasn't approved Extend are unknown to
        Extend; clients say "Don't see a Team? Sign in to Extend and select it."
      parameters:
        - {$ref: '#/components/parameters/TeamHeaderSilicon'}
        - {$ref: '#/components/parameters/TestingSecret'}
        - name: team
          in: query
          required: false
          description: '`any`: every Team the Carbon''s login reaches (1.1)'
          schema: {type: string, enum: [any]}
      responses:
        '200':
          description: Silicons
          content:
            application/json:
              schema:
                type: object
                required: [type, data]
                properties:
                  type: {const: team_silicons}
                  data:
                    type: object
                    required: [items]
                    properties:
                      items:
                        type: array
                        items: {$ref: '#/components/schemas/TeamSilicon'}
                      teams:
                        type: array
                        description: 'With team=any: how each Team''s directory read went (1.1)'
                        items: {$ref: '#/components/schemas/TeamReach'}

  # ───────────────────────────── Sessions ─────────────────────────────
  /api/v1/sessions:
    post:
      tags: [Sessions]
      operationId: startSession
      summary: Start using a device (`extend session new`)
      description: |
        Silicons only; the caller needs a grant on the device in its X-Org-ID Team, and the device must be online and
        set up. Takes the device's lock: only one Silicon at a time, across every Carbon's pair of the physical device
        and every Team (1.1). A computer and the devices it carries form one lock group: a Silicon can't start on one of
        them while a Silicon on another side uses any of them ("Living room TV pairs through Studio Mac, and something on
        that computer is in use."). The session ends on its own after 300 s without a command (a command in flight holds
        the timer). Starting a session also registers the Silicon as a Ting recipient, in the background (a failure is
        logged and the session goes on), so requests for the device can reach it.

        If another Silicon holds it, 409 `device_in_use` with the `extend request send` command as `hint`:
        - on the caller's own side (same Team, same Carbon's pair), or the caller's own session: the message and
          `details.in_use` name the Silicon, its session and since when, as in 1.0;
        - otherwise nothing names it (1.1): "Device 7c1e09ab (Living room TV) is in use. Only one Silicon can use a
          device at a time.", hint "Ask for it: extend --team labs request send 7c1e09ab --reason \"...\"", and
          `details: {"in_use": {"hidden": true}}`.

        Before starting, Extend checks that the Carbon who gave the access is still an active member of the Silicon's
        Team (the owner-active check, TECHNICAL.md section 9): a definite "not a member" is `403 no_access` ("c:alice,
        who gave you access to Living room TV, is no longer an active member of labs, so her access grants in labs
        ended.", hint "Ask a Carbon in labs who owns a device to give you access."). When IAM can't say, the session
        starts.

        A device that isn't awake still starts (201): awake never refuses anything. The CLI then prints the wake hint.
        When Extend can't tell whether the device is awake, starting a session withdraws the caller's own open wake
        request on it (`session_started`); when it knows the device isn't awake, the request stays open.

        A refused login ends access on every session route (`POST`/`GET /api/v1/sessions`, `GET /sessions/{id}`,
        `/end`, `/takeover`, `/commands`), even when no IAM webhook arrives. This works when Extend can tell which
        Silicon the refused token belonged to (a login it saw that Silicon use in this world since it started):
        - `403 not_a_team_member` for the `X-Org-ID` team where the Silicon has running sessions: unless IAM confirms
          it is still an active member there, those sessions end at once as `left_team`, and the message adds
          "Its running session(s) <ids> in <team> ended (left_team)."
        - `401 token_expired`: 15 s later, unless IAM accepts another login of that Silicon that Extend has seen, all
          its running sessions in this world end as `silicon_logged_out` (a refreshed token keeps them). If IAM can't
          answer, nothing ends.
      parameters:
        - {$ref: '#/components/parameters/TeamHeader'}
        - {$ref: '#/components/parameters/TestingSecret'}
        - {$ref: '#/components/parameters/IdempotencyKey'}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [type, data]
              properties:
                type: {const: session}
                data:
                  type: object
                  additionalProperties: false
                  required: [device_id]
                  properties:
                    device_id: {$ref: '#/components/schemas/DeviceIdValue'}
      responses:
        '201':
          description: Started
          content:
            application/json:
              schema:
                type: object
                required: [type, data]
                properties:
                  type: {const: session}
                  data: {$ref: '#/components/schemas/Session'}
              example:
                type: session
                data:
                  session_id: a3f
                  device_id: 7c1e09ab
                  silicon_id: 'si:chef'
                  state: active
                  started_at: '2026-09-26T10:00:00.000Z'
                  last_command_at: null
                  idle_ends_at: '2026-09-26T10:05:00.000Z'
                  ended_at: null
                  end_reason: null
        '403': {$ref: '#/components/responses/Error'}
        '404': {$ref: '#/components/responses/Error'}
        '409': {$ref: '#/components/responses/Error'}
        '503': {$ref: '#/components/responses/Error'}
    get:
      tags: [Sessions]
      operationId: listSessions
      summary: The caller's sessions (`extend session ls`)
      description: |
        A Silicon sees its own sessions in its X-Org-ID Team. A Carbon sees the sessions through their own pairs, in
        every Team, each with its `team`; X-Org-ID is not needed (1.1).
      parameters:
        - {$ref: '#/components/parameters/TeamHeaderSilicon'}
        - {$ref: '#/components/parameters/TestingSecret'}
        - name: device_id
          in: query
          schema: {$ref: '#/components/schemas/DeviceIdValue'}
        - name: state
          in: query
          schema: {type: string, enum: [active, paused, ended]}
        - {$ref: '#/components/parameters/Limit'}
        - {$ref: '#/components/parameters/Cursor'}
      responses:
        '200':
          description: Sessions, newest first
          content:
            application/json:
              schema:
                type: object
                required: [type, data]
                properties:
                  type: {const: sessions}
                  data:
                    type: object
                    required: [items, next_cursor]
                    properties:
                      items: {type: array, items: {$ref: '#/components/schemas/Session'}}
                      next_cursor: {type: [string, 'null']}
  /api/v1/sessions/{session_id}:
    parameters:
      - {$ref: '#/components/parameters/SessionId'}
    get:
      tags: [Sessions]
      operationId: getSession
      summary: One session (used by `extend session connect` and `status`)
      description: While a command runs, `idle_ends_at` is held at least 300 s after the command's deadline.
      parameters:
        - {$ref: '#/components/parameters/TeamHeaderSilicon'}
        - {$ref: '#/components/parameters/TestingSecret'}
      responses:
        '200':
          description: Session with its device and capabilities
          content:
            application/json:
              schema:
                type: object
                required: [type, data]
                properties:
                  type: {const: session}
                  data:
                    allOf:
                      - {$ref: '#/components/schemas/Session'}
                      - type: object
                        required: [device, capabilities, commands]
                        properties:
                          device: {$ref: '#/components/schemas/Device'}
                          capabilities: {type: array, items: {$ref: '#/components/schemas/Capability'}}
                          commands: {type: array, items: {type: string}}
        '403': {$ref: '#/components/responses/Error'}
        '404': {$ref: '#/components/responses/Error'}
  /api/v1/sessions/{session_id}/end:
    parameters:
      - {$ref: '#/components/parameters/SessionId'}
    post:
      tags: [Sessions]
      operationId: endSession
      summary: Finish and free the device (`extend session end`)
      description: The Silicon that started it. Ending an ended session returns it unchanged. A command in flight is cancelled.
      parameters:
        - {$ref: '#/components/parameters/TeamHeader'}
        - {$ref: '#/components/parameters/TestingSecret'}
      responses:
        '200':
          description: Ended
          content:
            application/json:
              schema:
                type: object
                required: [type, data]
                properties:
                  type: {const: session}
                  data: {$ref: '#/components/schemas/Session'}
        '403': {$ref: '#/components/responses/Error'}
        '404': {$ref: '#/components/responses/Error'}
  /api/v1/sessions/{session_id}/takeover:
    parameters:
      - {$ref: '#/components/parameters/SessionId'}
    post:
      tags: [Sessions]
      operationId: startTakeover
      summary: Pause and hand the device to its Carbon (`extend takeover`)
      description: |
        The session becomes `paused`; commands get 423 `session_paused`. The device and website show the reason and a
        Done button. The idle timer stops for up to 30 minutes.
      parameters:
        - {$ref: '#/components/parameters/TeamHeader'}
        - {$ref: '#/components/parameters/TestingSecret'}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [type, data]
              properties:
                type: {const: takeover}
                data:
                  type: object
                  additionalProperties: false
                  required: [reason]
                  properties:
                    reason: {type: string, minLength: 1, maxLength: 300, example: Please approve the Face ID prompt}
      responses:
        '201':
          description: Paused
          content:
            application/json:
              schema:
                type: object
                required: [type, data]
                properties:
                  type: {const: takeover}
                  data: {$ref: '#/components/schemas/Takeover'}
        '409': {$ref: '#/components/responses/Error'}
    get:
      tags: [Sessions]
      operationId: getTakeover
      summary: Whether the session is paused for the Carbon (`extend takeover status`)
      description: The session's Silicon, or the Carbon who owns the device (the website shows the reason and a Done button from this).
      parameters:
        - {$ref: '#/components/parameters/TeamHeaderSilicon'}
        - {$ref: '#/components/parameters/TestingSecret'}
      responses:
        '200':
          description: Current takeover, or `null`
          content:
            application/json:
              schema:
                type: object
                required: [type, data]
                properties:
                  type: {const: takeover}
                  data: {oneOf: [{$ref: '#/components/schemas/Takeover'}, {type: 'null'}]}
    delete:
      tags: [Sessions]
      operationId: releaseTakeover
      summary: Resume the session (`extend takeover release`, or the Carbon's Done on the website)
      description: The session's Silicon, or the Carbon who owns the device.
      parameters:
        - {$ref: '#/components/parameters/TeamHeaderSilicon'}
        - {$ref: '#/components/parameters/TestingSecret'}
      responses:
        '204': {description: Resumed}
        '409': {$ref: '#/components/responses/Error'}

  # ───────────────────────────── Commands ─────────────────────────────
  /api/v1/sessions/{session_id}/commands:
    parameters:
      - {$ref: '#/components/parameters/SessionId'}
    post:
      tags: [Commands]
      operationId: runCommand
      summary: Run one command on the device
      description: |
        Every device engine command Extend exposes, plus Extend's additions (`terminal`, `adb`, `display`,
        `notifications`), goes through here. `command` is the top-level name as typed after `extend`, and `args` are
        the remaining command-line tokens exactly as the device engine's command line accepts them, so the engine's own
        parser stays the authority on arguments. Flags that pick a device or session inside the engine (`--platform`,
        `--device`, `--udid`, `--serial`, `--target`, `--session`, `--remote`) are refused: Extend picks those.
        `cli.yaml` lists every command and its arguments.

        Awake is never a gate (1.1): the terminal, Android debugging and every other command run while the device isn't
        awake. A command that needs the screen fails with the device's own error; when the device is known not to be
        awake, the answer (a failed result, `unsupported_on_device` or `device_offline`) carries the wake hint. On a
        computer several Carbons paired, `terminal` works only through the first pair (the Carbon who installed Silicon
        Extend on it); through any other pair it is `422 unsupported_on_device` with that reason.

        Before running, Extend re-checks with IAM that the caller still has access (its grant in the session's Team, and
        that the Carbon who gave it is still an active member there), that the session is theirs and `active`, that the
        device is online, and that the command is in the device's capabilities. Commands in one
        session run one at a time, in order; a command that waited behind another checks the session again when its
        turn comes (`409 session_ended` or `423 session_paused`, never relayed). While the command runs,
        `idle_ends_at` is held at `timeout_ms` + 2 s + 300 s from its start; when the answer comes (or the command times
        out, or the device drops), the 300 s idle window restarts from then.

        If the session ends while the command runs (the device removed, the pair revoked, access removed, a Stop by any
        Carbon who paired the device, a logout, leaving the team, the test environment disabled or cleaned), the caller gets
        `409 session_ended` at once (within about 200 ms), not at the deadline: "Session <id> ended while `<command>` was
        running on <device>: <why>. `<command>` may have run.", a hint for that end reason, and
        `details: {end_reason, command_id, may_have_run: true}`. The device gets `cancel` for it if still connected, and
        the activity log records the outcome as `unknown`. A dropped socket or a passed deadline whose session had
        ended answers the same way instead of `device_offline` or `command_timeout`.

        Files the command makes are stored in Briefcase for the Silicon, shared with the device's owner, and returned
        in `files`. `self_destruct_minutes` (1 to 43,200; default 1,440) applies to every file this command makes;
        `permanent: true` keeps them. Small inputs a command reads from the caller's machine (a replay script, an
        image to show on a TV, an APK to install) travel in `attachments`: at most 8 and 8 MiB in total.

        For `display show --image` or `--video`, a 1.1 service also resolves `file:<file_id>`, a bare file UUID, the
        stored Extend content link, or the exact Briefcase permanent URL recorded by Extend. These name files Extend
        already stored for the calling Silicon in this session's Team and world; they do not authorize arbitrary
        Briefcase entries. Expired, unknown or another Silicon's files give `404 file_not_found`. The recorded content
        type must match image/video. Extend reads bounded bytes from Briefcase on the Silicon's behalf, checks visibility
        again after the read and checks that the session is still active before forwarding. The resulting ordinary
        attachment shares the same 8-file/8-MiB total with local inputs. No credentials or private media URL go to the
        device. Unrelated public media URLs stay device-side URLs; this is not a service URL-fetch endpoint.
        This resolution is for display media only; install, replay and screenshot baselines still require local inputs.

        On Android TV apps 1.1 or later, a primary element `click` (`@ref` or selector) needs `screen.read`, rather than
        pointer/touch injection. The service keeps the old requirement for apps older than 1.1 or with an unknown app
        version. Coordinates, held/repeated or secondary clicks still need the corresponding native injection support;
        no new pointer/touch capability is advertised. A missing/damaged image on the native TV returns a failed command
        result (`action_failed`), rather than success while a blank image remains.

        On a carried iPhone/iPad, the first plain screenshot binds an engine session to the current device with a bare
        `open` when necessary, then retries the capture within the same command deadline. It launches no app and starts
        no runner for a plain capture. Ref overlays or selector cropping may need the runner. This does not make the
        device's lock state detectable or change the existing capture permission/setup requirements.

        A file that can't be kept doesn't fail the command: `ok` is unchanged and `warnings` gets one entry per
        problem, each saying what happened, why and what to do (a file the device listed under an upload id not issued
        for this command, or never uploaded; Briefcase refused to store it; it was stored but not shared with the
        device's Carbon; it was stored but Extend could not record it, in which case the warning gives its link and it
        won't be listed or self-destruct). Warnings also go to the command's activity entry (`details.warnings`).

        A result with `ok: false` ran on the device and failed there; `error.code` says how. Besides the device engine's own
        codes, a device answers `command_failed` (a shell exited non-zero; `details.exit_code`), `action_failed`,
        `upload_failed` (a file it made could not be uploaded), `cancelled` (Extend cancelled it), `session_ended` (the
        Carbon pressed Stop or the session ended while it ran or waited) and, on Android, `device_not_ready` (Android
        debugging was disconnected).
      parameters:
        - {$ref: '#/components/parameters/TeamHeader'}
        - {$ref: '#/components/parameters/TestingSecret'}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [type, data]
              properties:
                type: {const: command}
                data:
                  type: object
                  additionalProperties: false
                  required: [command]
                  properties:
                    command: {type: string, example: click, description: Top-level command name}
                    args: {type: array, items: {type: string}, default: [], example: ['@e2']}
                    attachments:
                      type: array
                      maxItems: 8
                      description: At most 8 attachments and 8 MiB (8,388,608 bytes) decoded in total per command.
                      items:
                        type: object
                        required: [name, content_type, content_base64]
                        properties:
                          name: {type: string}
                          content_type: {type: string}
                          content_base64: {type: string, description: Counts toward the 8 MiB total}
                    timeout_ms: {type: integer, minimum: 1000, maximum: 300000, default: 30000}
                    self_destruct_minutes: {type: integer, minimum: 1, maximum: 43200, default: 1440}
                    permanent: {type: boolean, default: false}
            examples:
              snapshot: {value: {type: command, data: {command: snapshot, args: ['-i']}}}
              click: {value: {type: command, data: {command: click, args: ['@e2']}}}
              fill: {value: {type: command, data: {command: fill, args: ['@e3', hello]}}}
              screenshot: {value: {type: command, data: {command: screenshot, args: ['--scale', '0.5'], self_destruct_minutes: 10080}}}
              tvRemote: {value: {type: command, data: {command: tv-remote, args: [press, select]}}}
              terminal: {value: {type: command, data: {command: terminal, args: [run, 'ls -la ~/Downloads', '--cwd', '~'], timeout_ms: 20000}}}
      responses:
        '200':
          description: The command ran. `ok` false means it ran and failed on the device (for example `is visible` was false); see `error`.
          content:
            application/json:
              schema:
                type: object
                required: [type, data]
                properties:
                  type: {const: command_result}
                  data: {$ref: '#/components/schemas/CommandResult'}
              example:
                type: command_result
                data:
                  command_id: 01926f40-1b2c-7d3e-8f40-5a6b7c8d9e0f
                  session_id: a3f
                  command: screenshot
                  ok: true
                  output: {width: 540, height: 1200}
                  text: 'Saved screenshot (540x1200)'
                  files:
                    - file_id: 6e1f2a9c-3b4d-4e5f-8a7b-9c0d1e2f3a4b
                      name: screenshot-a3f-2026-09-26T10-04-12Z.png
                      kind: screenshot
                      content_type: image/png
                      size_bytes: 184223
                      url: 'https://briefcase.teamofsilicons.com/org/acme/apps/extend/private/si:chef/screenshot-a3f-2026-09-26T10-04-12Z.png'
                      self_destruct_at: '2026-09-27T10:04:12.391Z'
                      permanent: false
                  error: null
                  started_at: '2026-09-26T10:04:12.001Z'
                  duration_ms: 390
                  idle_ends_at: '2026-09-26T10:09:12.391Z'
                  warnings: []
        '401': {description: 'token_expired, not_signed_in (see startSession: a refused Silicon''s sessions may end)', $ref: '#/components/responses/Error'}
        '403': {description: 'access_removed, not_session_owner, not_a_team_member', $ref: '#/components/responses/Error'}
        '404': {description: 'unknown_command (names the Extend replacement if any), session_not_found', $ref: '#/components/responses/Error'}
        '409': {description: 'session_ended (details.end_reason; when it ended mid-command also command_id and may_have_run)', $ref: '#/components/responses/Error'}
        '422': {description: 'invalid_input, unsupported_on_device (names the missing capability)', $ref: '#/components/responses/Error'}
        '423': {description: session_paused, $ref: '#/components/responses/Error'}
        '503': {description: device_offline, $ref: '#/components/responses/Error'}
        '504': {description: command_timeout, $ref: '#/components/responses/Error'}

  # ───────────────────────────── Requests ─────────────────────────────
  /api/v1/devices/{device_id}/requests:
    parameters:
      - {$ref: '#/components/parameters/DeviceId'}
    post:
      tags: [Requests]
      operationId: sendRequest
      summary: Ask for a device another Silicon is using (`extend request send`)
      description: |
        Silicons with access only, and only while another Silicon is using the device (otherwise 409
        `device_not_in_use` with a hint to start a session; the caller's own session is `409 conflict`). The reason is
        kept exactly as sent: surrounding whitespace included, it is stored, returned, logged and sent unchanged. Its
        length is counted without the surrounding whitespace (1–300 Unicode scalar values), and the raw text may be at
        most 1,000 including it; either refusal is `422 invalid_input` with a hint.

        Who gets it (1.1, UNDERSTANDING.md "One Silicon at a time"):
        - When the Silicon using the device is in the caller's Team and was given access by the same Carbon (through the
          same pair), the request goes to that Silicon through Ting, as in 1.0: `routed_to: holder`, and `to` names it.
        - Otherwise it goes to the Carbon who gave the Silicon using the device access, who can stop the session:
          `routed_to: carbon`. The caller sees `to` as "the Carbon who gave access to the Silicon using it" with
          `to_hidden: true` and no `session_id`, even when that Carbon is its own; it never learns which Carbon,
          Silicon or session holds the device. That Carbon sees the requesting Silicon (`from`) and the reason (the
          Carbon's decision of 2026-09-27), on the website, in `extend device requests` and in the Ting. The Ting goes
          at once, from the requesting Silicon, when the two share a Team (sent in it); otherwise it goes from that
          Carbon's own login, as a notification to themselves, in the Team where they gave the holder access: at once
          when Extend holds that login, else at their next use of Extend. The website and CLI show it at once either
          way. It never names the Silicon using the device, its Team or its session.
        `from_hidden` is never set by a 1.1.0 service.

        Every new reason is a new request (201) and is delivered. Only a repeat is folded: the byte-identical reason
        from the same Silicon in the same Team, for the same device and the same session on it, within 60 s returns the
        existing request (200) and sends nothing. The same `Idempotency-Key` with the same body replays its request; with a different
        body it is `409 conflict`.

        If Ting refuses or can't be reached, the request is stored with `delivery: pending` and `last_error` saying why,
        and the answer is still 201. Extend retries with the exact body it first sent, backing off 30 s, then 1, 2, 4
        and 8 minutes, then every 8 minutes, acting with the latest login it holds for the sender in that Team and
        world (no running session needed); an attempt with no login held doesn't count. After 6 counted attempts or 24
        hours it becomes `failed` with `last_error` saying why and to send it again, and the device's activity log gets
        `request_failed`. A recipient who turned Extend's Tings off stops the retries until they turn them on again
        (`PUT /api/v1/ting-registration`). When Ting doesn't know `extend.device.requested` for this app/context,
        `last_error` says so and gives the command the app-owning Team's Ting manager runs to register it. The requester's side sees
        a routed request's `last_error` only as "Not delivered yet; it is retried." or "It couldn't be delivered.".
      parameters:
        - {$ref: '#/components/parameters/TeamHeader'}
        - {$ref: '#/components/parameters/TestingSecret'}
        - {$ref: '#/components/parameters/IdempotencyKey'}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [type, data]
              properties:
                type: {const: request}
                data:
                  type: object
                  additionalProperties: false
                  required: [reason]
                  properties:
                    reason:
                      type: string
                      minLength: 1
                      maxLength: 1000
                      description: 1–300 Unicode scalar values after trimming; at most 1,000 with the surrounding whitespace, which is kept
            example: {type: request, data: {reason: 'I need to check the order confirmation in the Swiggy app, 2 minutes'}}
      responses:
        '200':
          description: A repeat of the same reason within 60 s; the existing request, nothing sent
          content:
            application/json:
              schema:
                type: object
                required: [type, data]
                properties:
                  type: {const: request}
                  data: {$ref: '#/components/schemas/Request'}
        '201':
          description: Sent, or stored as pending with last_error
          content:
            application/json:
              schema:
                type: object
                required: [type, data]
                properties:
                  type: {const: request}
                  data: {$ref: '#/components/schemas/Request'}
        '403': {$ref: '#/components/responses/Error'}
        '404': {$ref: '#/components/responses/Error'}
        '409': {description: 'device_not_in_use; conflict (you are the one using it, or an Idempotency-Key reused with another body)', $ref: '#/components/responses/Error'}
        '429': {description: rate_limited, $ref: '#/components/responses/Error'}
        '422': {$ref: '#/components/responses/Error'}
    get:
      tags: [Requests]
      operationId: listDeviceRequests
      summary: Requests for this device, with reasons (device page)
      description: |
        Owner only. Also answers for a removed device the caller paired. 1.1: the requests the Carbon's Silicons sent
        through this pair (in every Team, tagged with `team`), and the requests routed to this Carbon because a Silicon
        they gave access to was using the device through this pair (`routed_to: carbon`, with `from` naming the
        requesting Silicon, `session_id` the session it asked for, and `device_id` this pair).
      parameters:
        - {$ref: '#/components/parameters/TeamHeaderOptional'}
        - {$ref: '#/components/parameters/TestingSecret'}
        - {$ref: '#/components/parameters/Limit'}
        - {$ref: '#/components/parameters/Cursor'}
      responses:
        '200':
          description: Requests, newest first
          content:
            application/json:
              schema: {$ref: '#/components/schemas/RequestPage'}
  /api/v1/requests:
    get:
      tags: [Requests]
      operationId: listMyRequests
      summary: Requests the calling Silicon sent or received (`extend request ls`)
      description: |
        In the caller's X-Org-ID Team only (1.1): the ones it sent, and the ones sent to it as the Silicon using a device.
        A request routed to a Carbon shows `to` as "the Carbon who gave access to the Silicon using it".
      parameters:
        - {$ref: '#/components/parameters/TeamHeader'}
        - {$ref: '#/components/parameters/TestingSecret'}
        - name: direction
          in: query
          schema: {type: string, enum: [sent, received, all], default: all}
        - name: device_id
          in: query
          schema: {$ref: '#/components/schemas/DeviceIdValue'}
        - {$ref: '#/components/parameters/Limit'}
        - {$ref: '#/components/parameters/Cursor'}
      responses:
        '200':
          description: Requests, newest first
          content:
            application/json:
[...]
